.Container {
  height: 64px !important;
  width: 100%;
  .logo {
    width: 6.5rem;
    height: 2.25rem;
  }
}
.link {
  text-decoration: none;
  color: white;
  .menuItem {
    background: #3e3e3f;
  }
}
.boxButtonText {
  height: 4rem;
  .linkHeader {
    text-decoration: none;
    .buttonText {
      margin-top: 0;
      margin-bottom: 0;
      height: 100%;
      text-transform: none;
      padding-right: 1.625rem;
      padding-left: 1.625rem;

      &:hover {
        background: #2d2d2d;
      }
    }
  }
}
